$green-300: #99ca3b;
$green-500: #69a522;


$grey-050: #fbfbfb;
$grey-080: #f1f1f1;
$grey-100: #f7f7f7;
$grey-120: #e7e7e7;
$grey-150: #ddd;
$grey-200: #cfcfcf;
$grey-220: #c0c0c0;
$grey-250: #a2a2a2;
$grey-280: #979797;
$grey-300: #9b9b9b;
$grey-400: #797f86;
$grey-450: #5b5b5b;
$grey-500: #4e585c;
$grey-600: #606060;
$grey-700: #4a4a4a;

$red-400: #f01835;
$red-600: #d13a44;
$red-800: #98282f;

$blue-200: #c3ceda;
$blue-380: #95a3b4;
$blue-400: #9ca6b0;

$navy-600: #1e376d;
$navy-700: #002b54;
