.a-company__table--teams {
  max-width: 41rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.a-company__aside-form {
  flex-basis: 26rem;
  background-color: $grey-050;
  padding: 1.5rem 2rem 0;
  margin-bottom: 2rem;
}
.a-company__aside-form-title {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
