%ol.a-people__steps
  %li.a-people__step.a-people__step--complete
    .a-people__step-content
      %span.a-people__step-text
        = t('people.steps.create_profile')
      %i.a-people__step-icon.icon.icon-checkmark
  %li.a-people__step.a-people__step--active
    .a-people__step-content
      %span.a-people__step-text
        = t('people.steps.assign_tasks')
      %i.a-people__step-icon.icon.icon-checkmark
  %li.a-people__step
    .a-people__step-content
      %span.a-people__step-text
        = t('people.steps.assign_training')
      %i.a-people__step-icon.icon.icon-checkmark
  %li.a-people__step
    .a-people__step-content
      %span.a-people__step-text
        = t('people.steps.complete')
      %i.a-people__step-icon.icon.icon-checkmark
