.a-main__title {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.a-people__text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}
.a-main__title-secondary {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}
.a-people__add-item {
  margin-bottom: 4.5rem;
}
.a-people__tabs {
  margin-bottom: 1.5rem;
  .nav-tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 0.5rem;
      background-color: white;
      border-left: 0.1rem solid $grey-150;
      border-right: 0.1rem solid $grey-150;
    }
  }
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}
.a-people__tab {
  position: relative;
  flex-basis: calc(25% + 0.3rem);
  margin-right: -0.4rem;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0.2rem;
    right: 0.2rem;
    bottom: 0;
    background-color: $grey-080;
    border: 0.1rem solid $grey-150;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    transform: perspective(10rem) rotateX(13deg);
  }
  &.active {
    z-index: 1;
    .nav-link {
      color: black;
      font-weight: 600;
    }
    &:before {
      background-color: white;
      border-bottom-color: white;
    }
  }
  .nav-link {
    display: block;
    position: relative;
    font-size: 1.1rem;
    font-weight: 300;
    color: $grey-280;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.9rem 1.5rem;
  }
}
.a-people__packet-pane {
  background-color: white;
  border-color: $grey-150;
  border-width: 0 0.1rem 0.1rem 0.1rem;
  border-style: solid;
  padding: 2rem 2rem 0;
}
.a-people__packet-doc-list {
  text-align: center;
  padding-left: 0;
}
.a-people__packet-doc-li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 7.5rem;
  text-align: center;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.a-people__packet-doc-li-checkbox {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
}
.a-people__packet-doc-li-img {
  margin-bottom: 1rem;
}
.a-people__packet-doc-li-text {
  font-size: 0.9rem;
  word-break: break-word;
  margin-bottom: 1.2rem;
}
.a-people__email-avail {
  display: flex;
  align-items: center;
  color: $green-500;
  margin-bottom: 2rem;
}
.a-people__email-avail-icon {
  font-size: 2rem;
  margin-right: 0.6rem;
}
.a-people__email-avail-text {
  font-size: 1rem;
  font-weight: 300;
}
